<div class="body">
    <h2 class="text-center">log In</h2>
    <form #f="ngForm" (ngSubmit)="login(f)">
        <input ngModel name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" required email>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Email is req</div>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">your input dosnt match email format</div>

        <input ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="password" required minlength="6">
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">Password is req</div>
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">password should be 6 characters</div>

        <button class="btn btn-primary" [disabled]="f.invalid">login</button>
    </form>
    <div class="alert alert-danger" *ngIf="loginError">
       {{loginError}}
    </div>
</div>